body{
    background-image: url(https://i.ibb.co/zbWNTPB/background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .9;
}
.header{
    background-color: #202020;
}